# Jupyter notebook
# Data cleaning
## Import excel delete duplicates and save in csv

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("/media/ivan/Main/Downloads/default_of_credit_card_clients__courseware_version_1_21_19.xls")

In [3]:
df.shape

(30000, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          30000 non-null  object
 1   LIMIT_BAL                   30000 non-null  int64
 2   SEX                         30000 non-null  int64
 3   EDUCATION                   30000 non-null  int64
 4   MARRIAGE                    30000 non-null  int64
 5   AGE                         30000 non-null  int64
 6   PAY_1                       30000 non-null  object
 7   PAY_2                       30000 non-null  int64
 8   PAY_3                       30000 non-null  int64
 9   PAY_4                       30000 non-null  int64
 10  PAY_5                       30000 non-null  int64
 11  PAY_6                       30000 non-null  int64
 12  BILL_AMT1                   30000 non-null  int64
 13  BILL_AMT2                   30000 non-null  int64
 14  BILL_AMT3                   30000 non-null  int64
 15  BILL_AMT4                   30000 non-null  int64
 16  BILL_AMT5                   30000 non-null  int64
 17  BILL_AMT6                   30000 non-null  int64
 18  PAY_AMT1                    30000 non-null  int64
 19  PAY_AMT2                    30000 non-null  int64
 20  PAY_AMT3                    30000 non-null  int64
 21  PAY_AMT4                    30000 non-null  int64
 22  PAY_AMT5                    30000 non-null  int64
 23  PAY_AMT6                    30000 non-null  int64
 24  default payment next month  30000 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [5]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,0737c11b-be42,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,3b7f77cc-dbc0,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [6]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [8]:
df["ID"].nunique()

29687

In [11]:
id_counts = df["ID"].value_counts()
id_counts.head()

d5905747-8aef    2
9389d6e1-e1a7    2
20050b52-5d6e    2
4cf8397f-6359    2
b1c90397-5fb2    2
Name: ID, dtype: int64

In [12]:
id_counts.value_counts()

1    29374
2      313
Name: ID, dtype: int64

In [13]:
dupe_mask = id_counts == 2
dupe_mask[0:5]

d5905747-8aef    True
9389d6e1-e1a7    True
20050b52-5d6e    True
4cf8397f-6359    True
b1c90397-5fb2    True
Name: ID, dtype: bool

In [14]:
id_counts.index[0:5]

Index(['d5905747-8aef', '9389d6e1-e1a7', '20050b52-5d6e', '4cf8397f-6359',
       'b1c90397-5fb2'],
      dtype='object')

In [20]:
dupe_ids = id_counts.index[dupe_mask]
dupe_ids = list(dupe_ids)
len(dupe_ids)

313

In [18]:
df.loc[df["ID"].isin(dupe_ids[0:3]),:]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
6471,9389d6e1-e1a7,500000,2,2,2,48,-1,-1,-1,-1,...,9536,8302,64460,68781,58436,9536,58302,64460,14000,0
6571,9389d6e1-e1a7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11862,d5905747-8aef,180000,2,2,2,26,Not available,0,0,0,...,103273,104492,109818,3279,6428,13669,3816,8048,3501,1
11962,d5905747-8aef,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12508,20050b52-5d6e,150000,2,1,1,52,-1,3,2,0,...,2034,2140,6731,20,802,1705,1806,6427,16,1
12608,20050b52-5d6e,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_zero_mask = df == 0

In [22]:
feature_zero_mask = df_zero_mask.iloc[:,1:].all(axis=1)
sum(feature_zero_mask)

315

In [24]:
df_clean_1 = df.loc[~feature_zero_mask,:].copy()
df_clean_1.shape

(29685, 25)

In [25]:
df_clean_1["ID"].nunique()

29685

In [26]:
df_clean_1.to_csv("/media/ivan/Main/my_projects/data_science/data_science/df_clean_1.csv", index=False)